html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #fff;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea {
  font: inherit;
}

#root {
  width: 100%;
  min-height: 100vh;
}

p,
span,
a,
li,
label,
address {
  font-family: 'Source Sans Pro', sans-serif;
}

form {
  margin: 0;
}

